<MudPaper Height="400px" Width="100%" Elevation="0" Style="margin-top: 80px;">
    <MudContainer Fixed="true">
        <MudPaper Height="400px" Width="100%" Square="true" Elevation="0">
            <MudCarousel Style="height:400px; width: 100%;" AutoCycle="false" TData="object">
                <BulletTemplate Context="selected">
                    <div class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
                        <span class="mud-icon-button-label">
                            <MudIcon Icon="@(selected ? Icons.Material.Filled.Circle : Icons.Material.Outlined.Circle)"
                                     Color="@Color.Inherit" Size="Size.Small" />
                        </span>
                    </div>
                </BulletTemplate>
                <PreviousButtonTemplate>
                    <div class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
                        <span class="mud-icon-button-label">
                            <MudIcon Class="mud-ripple mud-ripple-icon"
                                     Icon="@Icons.Material.Filled.SkipPrevious" Color="@Color.Inherit" Size="Size.Large" />
                        </span>
                    </div>
                </PreviousButtonTemplate>
                <NextButtonTemplate>
                    <div class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
                        <span class="mud-icon-button-label">
                            <MudIcon Class="mud-ripple mud-ripple-icon"
                                     Icon="@Icons.Material.Filled.SkipNext" Color="@Color.Inherit" Size="Size.Large" />
                        </span>
                    </div>
                </NextButtonTemplate>
                <ChildContent>
                    <MudCarouselItem Transition="Transition.Fade">
                        <div class="d-flex" style="height: 400px;">
                            <MudImage Src="/images/cdtdegas.png" Alt="3era imagen"
                                      Style="width: 100% !important;" />
                        </div>
                    </MudCarouselItem>
                    <MudCarouselItem Transition="Transition.Fade">
                        <div class="d-flex" style="height: 100%;">
                            <MudImage Src="/images/cdtdegas2.jpg" Alt="2da imagen"
                                      Style="width: 100% !important;" />
                        </div>
                    </MudCarouselItem>
                    <MudCarouselItem Transition="Transition.Fade">
                        <div class="d-flex" style="height: 400px;">
                            <MudImage Src="/images/cdtdegas3.png" Alt="3era imagen"
                                      Style="width: 100% !important;" />
                        </div>
                    </MudCarouselItem>
                </ChildContent>
            </MudCarousel>
        </MudPaper>
    </MudContainer>
</MudPaper>
