<MudAppBar Elevation="1" Style="background-color: rgb(10, 28, 83);" Fixed="true">
    <MudLink Href="#" Underline="Underline.None">
        <MudImage Src="/images/logohorizontal-cdt.png" Alt="Logo cdt" Elevation="5" Class="rounded-lg"
                  Width="150" Height="50" />
    </MudLink>
    <MudGrid>
        <MudItem xs="6" Class="d-none d-lg-flex">
            <MudPaper Class="d-flex align-center justify-center"
                      Style="background-color: transparent; color: whitesmoke">
                <MudLink Href="" Class="pa-3 ml-4" Color="Color.Inherit" Underline="Underline.None"
                         Style="font-size: 14px;">
                    <MudIcon Icon="@Icons.Material.Rounded.Home"
                             Size="Size.Medium" Style="margin-bottom: 2px;" /> Inicio
                </MudLink>
                <MudLink Href="#" Class="pa-3" Color="Color.Inherit" Underline="Underline.None"
                         Style="font-size: 14px;">
                    <MudIcon Icon="@Icons.Material.Rounded.Business"
                             Size="Size.Medium" Style="margin-bottom: 2px;" /> Nosotros
                </MudLink>
                <MudLink Href="#" Class="pa-3" Color="Color.Inherit" Underline="Underline.None"
                         Style="font-size: 14px;">
                    <MudIcon Icon="@Icons.Material.Rounded.ContactMail"
                             Size="Size.Medium" Style="margin-bottom: 2px;" /> Contáctenos
                </MudLink>
            </MudPaper>
        </MudItem>
    </MudGrid>

    <MudSpacer />

    <MudLink Href="#" Class="pa-3 d-none d-lg-flex" Style="background-color: transparent;">
        <MudBadge Color="Color.Default" Overlap="true">
            <MudAvatar Style="color: whitesmoke; border-color: whitesmoke;" Variant="Variant.Outlined">
                <MudIcon Icon="@Icons.Material.Rounded.Person2"
                         Size="Size.Medium" />
            </MudAvatar>
        </MudBadge>
    </MudLink>
    <MudLink Href="#" Class="pa-3 d-none d-lg-flex" Style="background-color: transparent;">
        <MudAvatar Style="color: whitesmoke; border-color: transparent;" Variant="Variant.Outlined">
            <MudIcon Icon="@Icons.Material.Rounded.ShoppingCart"
                     Size="Size.Medium" />
        </MudAvatar>
    </MudLink>
    <MudSwitch @bind-Value="_checked" Class="d-none d-lg-flex"
               @onchange="Change" Color="@(_checked==true ? Color.Info : Color.Error)">
        <thumbTemplate>
            <div class="thumb-content d-flex align-items-center justify-content-center
            @(_checked ? "thumb-on" : "thumb-off")">
                @if (_checked)
                {
                    <img src="/icons/colombia.svg" alt="Colombia Flag" style="width: 36px; height: 36px;" />
                    <p style="font-size: 20px;" class="ml-2 mb-0">ES</p>
                }
                else
                {
                    <img src="/icons/usa.svg" alt="USA Flag" style="width: 36px; height: 36px;" />
                    <p style="font-size: 20px;" class="ml-2 mb-0">EN</p>
                }
            </div>
        </thumbTemplate>
    </MudSwitch>

    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.End"
                   OnClick="@(() => OpenDrawer())" Class="d-lg-none" />

</MudAppBar>
<MudDrawer @bind-Open="@_open" Width="300px" Height="100%" Anchor="Anchor.Start" Elevation="1" Variant="@DrawerVariant.Temporary" Fixed="true"
           Style="background-color: rgb(10, 28, 83); position: fixed;">
    <MudDrawerHeader>
        <MudImage Src="/images/logohorizontal-cdt.png" Alt="Logo cdt" Elevation="5" Class="rounded-lg"
                  Width="150" Height="50" Style="opacity: 0.8;" />
    </MudDrawerHeader>
    <MudNavMenu Color="Color.Tertiary" Rounded="true" Style="color: whitesmoke;">
        <MudNavLink Match="NavLinkMatch.All" Href="" Icon="@Icons.Material.Rounded.Home"
                    IconColor=Color.Inherit>Inicio</MudNavLink>
        <MudNavLink Match="NavLinkMatch.All" Href="#" Icon="@Icons.Material.Rounded.Business"
                    IconColor=Color.Inherit>Nosotros</MudNavLink>
        <MudNavLink Match="NavLinkMatch.All" Href="#" Icon="@Icons.Material.Rounded.ContactMail"
                    IconColor=Color.Inherit>Contáctenos</MudNavLink>
        <MudNavLink Match="NavLinkMatch.All" Href="Registration" Icon="@Icons.Material.Rounded.SaveAs"
                    IconColor=Color.Inherit>Registro</MudNavLink>
    </MudNavMenu>
</MudDrawer>
<MudMainContent Class="pt-16 px-16">
    <MudContainer Class="mt-2">
        @Body
    </MudContainer>
</MudMainContent>

<style>
    .thumb-content {
        transition: background-color 0.3s ease; /* Transición suave */
    }

    .thumb-on {
        color: var(--mud-palette-warning) !important; /* Color del thumb cuando está encendido */
    }

    .thumb-off {
        color: var(--mud-palette-error) !important; /* Color del thumb cuando está apagado */
    }

    .mud-switch-span .mud-switch-track {
        background-color: var(--mud-palette-info) !important;
    }

    /* Estilo para el MudSwitch cuando está en estado true */
    .mud-switch-span .mud-info .mud-switch-track {
        background-color: var(--mud-palette-info) !important;
    }
</style>



@code{
    [Parameter] public RenderFragment? Body { get; set; }

    private bool _open = false;

    private string? _width, _height;

    private void OpenDrawer()
    {
        _open = true;
    }

    private bool _checked = true;
    private void Change()
    {
        _checked = !_checked;
        StateHasChanged();
    }

    private void ToggleDrawer()
    {
        _open = !_open;
    }

}